.navigasi nav{
    padding: 30px;
    background: #5e665e;
background: linear-gradient(90deg, rgba(94, 102, 94, 1) 0%, rgba(98, 189, 133, 1) 31%, rgba(250, 249, 220, 1) 100%);
}

.navigasi a{
    font-size: 20px;
    color: white;
    padding: 30px
}

.deskripsi h1{
    font-size: 65px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color:rgb(31, 163, 119);
}

.deskripsi h2{
    font-size: 65px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color:rgb(31, 163, 119);
}

.profile{
    display: flex;
    
}

.foto{
    margin-top: 200px;
    height: 400px;
    background-image: #5e665e;
    background: linear-gradient(90deg, rgba(94, 102, 94, 1) 0%, rgba(98, 189, 133, 1) 31%, rgba(250, 249, 220, 1) 100%);;
}

.isinya h1{
    margin-top: 250px;
    margin-left: 25px;
    font-size: 35px;
    color:rgb(42, 69, 19);
}

.isinya p{
    margin-top: 50px;
    margin-left: 25px;
    width: 700px;
    height: 35px;
    text-align: justify;
}





